body {
    font-family: sans-serif;
    background: url(https://res.cloudinary.com/djgf7eniw/image/upload/v1665859345/Tienda/accesorios/fnegro_bmlv5p.jpg);
}
header {
    margin: 30px 0;
}
img {
    width: 100%;
}
.imagen-iconos{
   width: 70%;
  }
.iconos li{
    width:15%;
    text-decoration: none;
    display: flex;
    display: inline-block;
}
.iconos li img{
    width: 50%;
}
.iconos li :hover{
    color: rgb(150, 217, 229);
}

.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: rgb(242, 246, 247);
    padding: 30px;
    border-radius: 10px;
}

.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}

#gastos {
    margin-bottom: 30px;
}
h1{
    
    font-weight: 800;
    text-decoration: double;
    color:rgb(242, 246, 247);
    font-size: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color:rgb(242, 246, 247);
    text-align: center;
    text-decoration-line: underline;
    text-decoration: double;
}

label{
    font-family: sans-serif;
    color: rgb(242, 246, 247);
    font-weight: 100%;
    font-size: 22px;
}
option{
    background-color: rgb(242, 246, 247);
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
}
select{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.modal-filtro {
    position: fixed;
    top: 200px;
    width: 10%;
    margin-top: -380px;
    margin-left:500px ;
    height: 100vh;
    transition: all .5s;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-listaGastos {
    position: relative;
    background-color: rgb(49, 95, 116);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
}

.modal-listaCategoria {
    position: relative;
    background-color: rgb(49, 95, 116);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
}

.modal-active .modal-listaGastos {
    margin-top: 0;
}
.modal-active .modal-listaCategoria {
    margin-top: 0;
}
/*Boton para cerrar la ventana modal*/
.modal-listaGastos #listaGastosCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    border: none;
    background-color:rgb(242,149,220);
}
.modal-listaCategoria #listaCategoriaCerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    border: none;
    background-color:rgb(242,149,220);  
}
/*Boton para abrir la ventana modal del navegador*/
#boton-lista {
    border: none;
    align-items: flex-start ;
    justify-content: flex-start;
    background-color: rgb(88, 202, 222);
    border-radius: 10px;
   
}
#boton-filtro{
    border: none;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(88, 202, 222);
    border-radius: 10px;
}

#boton-resetear{
    background-color:white;
    border-radius: 10px;
}
#btn-agregar{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(88, 202, 222);
}
<<<<<<< Updated upstream
=======
#btn-editar{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(49, 95, 116);
    color: rgb(242, 246, 247);
}
#listaCategorias{
    background-color: brown;
}
.botonAgregarPresupuesto{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(88, 202, 222);
    color: rgb(49, 95, 116);
    font-size: 18px;
    font-weight: 600;

}

>>>>>>> Stashed changes
